@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-08;
  /* font-family: "Manrope", sans-serif;*/
  font-family: "Josefin Sans", sans-serif;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
